@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css";
 
i {
    position: static;
    margin: 0px 10px;
}


i.fa-facebook {
    color: #5252b8;
}

i.fa-instagram {
    color: #d6249f; 
}

i.fa-twitter {
    color: #00acee;    
}

i.fa-youtube {
    color: #c4302b    
}


body {
    background-color: white;
  }
  p {
    color: rgb(0, 0, 0);
  }
  img {
    vertical-align: middle;
}

.container {
    display: flex;
    align-items: center;
}

img {
    padding: 20px;
    height: 220;
    width: 200;
}

.image-col {
    flex-basis: 10%;
}

.container1 {
    padding-left: 20px;
}