@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css";
 
i {
    position: static;
    margin: 0px 10px;
}


i.fa-facebook {
    color: #5252b8;
}

i.fa-instagram {
    color: #d6249f; 
}

i.fa-twitter {
    color: #00acee;    
}

i.fa-youtube {
    color: #c4302b    
}


body {
    background-color: white;
  }
  p {
    color: rgb(0, 0, 0);
  }
  img {
    vertical-align: middle;
}

.container {
    display: flex;
    align-items: center;
}

img {
    padding: 20px;
    height: 220;
    width: 200;
}

.image-col {
    flex-basis: 10%;
}

.container1 {
    padding-left: 20px;
    padding-right: 70%;
}

.videolink {
  padding-left: 20px;
  padding-right: 70%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: lightcoral;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.menu {
  padding-left: 20px;
}